
* {
    scroll-behavior:smooth;

    }


    header {
  
        background-color: rgb(11, 31, 50);    
        box-shadow: 7px 0px 15px 10px rgb(99, 100, 100); 
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }


    .nav {

        margin: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width:1300px;
        height: 200px;
          


    }


    .main_menu, li {
        
        width: 120%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 50px;


    }


    #main_menu, ul {

        margin: 0px;
        padding: 0px;
        text-decoration: none;
        list-style-type: none;

      }


    ul {

        display: flex ;



    }


      .main_menu, a {

        color: #f7f7f7;
        text-decoration: none;
    
        
      }



    body {
        
        margin: 0%;
        background: #e5e6e6;
        font-family: sans-serif;
        display: flex;
        justify-content: center;
        flex-direction: column;
        

        
      }


    .self_portrait {

        display: flex;
        flex-direction: row;
        justify-content: center;
        

    }



    .self_portrait img {

        
        max-width: 20%;
        border-radius: 100%;


    }


   p {

    display: flex;
    justify-content: center;


    } 



    br { 
        
    display: flex;
    flex-direction: column;
    text-align: center;
    


    }



    h1 {

        display: flex;
        justify-content: center;
        color: rgba(0, 0, 0, 0.922);
        display: flex;

    }


    
    h2 {

        display: flex;
        justify-content: center;
        color: rgb(23, 22, 22);
        text-decoration: double;

    
    }
    
    
    
    footer {

        color:#e5e6e6;
        min-height: 200px ;
        background-color: rgb(11, 31, 50);    
        text-align: center;
        display: flex;
        justify-content: center;
        box-shadow: inset 0px 0px 15px 0px rgb(21, 21, 21);

    }


    @media only screen and (max-width: 600px) and (min-width: 1200px) {
    
    }